<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 使用无参构造方法,通过constructor-arg给字面量属性赋值-->
	<bean id="sgtPeppers_c" class="spring.basic.impl.SgtPeppers">
		<constructor-arg value="一生有你"/>
		<constructor-arg value="水木年华"/>
	</bean>
	
	<!-- 使用c命名空间给构造方法的参数赋值 -->
	<bean id="sgtPeppers_cr" class="spring.basic.impl.SgtPeppers" 
		c:title="她" 
		c:artist="不可撤销">
	</bean>
	
	<bean id="sgtPeppers_cre" class="spring.basic.impl.SgtPeppers"
		c:_0="南征北战"
		c:_1="骄傲的少年">
	</bean>
	
	<!-- 使用property属性赋值，则bean相应的成员属性必须有setter方法 -->
	<bean id="sgtPeppers_p" class="spring.basic.impl.SgtPeppers">
		<property name="title" value="贝加尔湖畔"/>
		<property name="artist" value="李健"/>
	</bean>
	
	<!-- 使用p命名空间对成员属性赋值 -->
	<bean id="sgtPeppers_pr" class="spring.basic.impl.SgtPeppers" 
		p:title="那些花儿"
		p:artist="朴树">
	</bean>
	
	<!-- 使用一般constructor-arg属性 -->
	<bean id="cd" class="spring.basic.impl.CDPlayer">
		<constructor-arg ref="sgtPeppers_c"/>
	</bean>
	
	<bean class="spring.scope.PrototypeWithScopeBean" scope="prototype"></bean>
	
	<import resource="classpath:spring-quartz.xml"/>

</beans>
